<div class="header">
  <div class="container">
    <ul class="nav">
      <li>Home</li>
      <li>About</li>
      <li>Contact</li>
    </ul>
    <h1>Nicoleta</h1>
  </div>
</div>

<div class="jumbotron">
  <div class="container">  
    <div class="main">
      <p>What i am doing... </p>
      <a class="buttonLink" href="#">View my work</a>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <a href="https://www.linkedin.com/in/nicoletaplatniuc/"><img src="https://i.ibb.co/nb57fdK/linkedin-5.png"/></a>
    <a href="https://github.com/Nicoleta13"><img src="https://i.ibb.co/Rg7TtZc/github-logo-3.png"/></a>
    <p>&copy; Nicoleta 2019</p>
  </div>
  </div>


